.profiel{
    border: 2px solid black;
    width: 85%;
    padding: 15px;
    margin-left: 20px;
    min-height: 500px;
}
.img{
    border-radius: 20px;
    border: 1px solid black;
    width: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.header{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
